<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>錯誤</title>
</head>
<!-- thymeleaf將錯誤訊息以文本方式展現在網頁上，透過網頁源代碼方式查看，不用到服務端查看(官方有提供代碼) -->
<body>
	<h1>錯誤</h1>
	<div>
		<div th:utext="'&lt;!--'" th:remove="tag"></div>
		<div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
		<div th:utext="'Exception message : ' + ${exception.message}"
			th:remove="tag"></div>
		<ul th:remove="tag">
			<li th:each="st : ${exception.stackTrace}" th:remove="tag"><span
				th:utext="${st}" th:remove="tag"></span></li>
		</ul>
		<div th:utext="'--&gt;'" th:remove="tag"></div>
	</div>
</body>

</html>