<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrtsuo.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.mrtsuo.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price1" jdbcType="INTEGER" property="price1" />
    <result column="price2" jdbcType="INTEGER" property="price2" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mrtsuo.model.Product">
    <result column="picture" jdbcType="LONGVARBINARY" property="picture" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, price1, price2, typeid
  </sql>
  <sql id="Blob_Column_List">
    picture
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mrtsuo.model.Product">
    insert into t_product (id, name, price1, 
      price2, typeid, picture
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price1,jdbcType=INTEGER}, 
      #{price2,jdbcType=INTEGER}, #{typeid,jdbcType=INTEGER}, #{picture,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mrtsuo.model.Product">
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price1 != null">
        price1,
      </if>
      <if test="price2 != null">
        price2,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
      <if test="picture != null">
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price1 != null">
        #{price1,jdbcType=INTEGER},
      </if>
      <if test="price2 != null">
        #{price2,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mrtsuo.model.Product">
    update t_product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price1 != null">
        price1 = #{price1,jdbcType=INTEGER},
      </if>
      <if test="price2 != null">
        price2 = #{price2,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mrtsuo.model.Product">
    update t_product
    set name = #{name,jdbcType=VARCHAR},
      price1 = #{price1,jdbcType=INTEGER},
      price2 = #{price2,jdbcType=INTEGER},
      typeid = #{typeid,jdbcType=INTEGER},
      picture = #{picture,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mrtsuo.model.Product">
    update t_product
    set name = #{name,jdbcType=VARCHAR},
      price1 = #{price1,jdbcType=INTEGER},
      price2 = #{price2,jdbcType=INTEGER},
      typeid = #{typeid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
 

</mapper>