<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>商品上傳</title>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body>
	<!-- 導航 -->
	<div th:insert="admin/_fragments :: menu(1)"></div>

	<div class="ui attached pointing menu">
		<div class="ui container">
			<div class="right menu">
				<a href="#" th:href="@{/admin/products/input}"
					class="teal active item">新增</a> <a href="#"
					th:href="@{/admin/products}" class=" item">列表</a>
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<!-- 中間 -->
	<div class="m-container-small m-padded-tb-big">
		<div class="ui container">
			<form action="#" method="post" th:object="${product}"
				th:action="*{id}==null ? @{/admin/products} : @{/admin/products/{id}(id=*{id})} "  class="ui form">
				<input type="hidden" name="id" th:value="*{id}">
				<div class="required field">
					<div class="ui left labeled input">
					<div class="ui type selection teal basic dropdown label">
							<input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
							<i class="dropdown icon"></i>
							<div class="text">商品分類</div>
							<div class="menu" >
								<div th:each="type : ${types}" class="item" data-value="1"
									th:data-value="${type.id}" th:text="${type.name}">咖啡</div>
								<!-- <div class="item" data-value="2">飲品</div>
								<div class="item" data-value="3">手做蛋糕</div>
								<div class="item" data-value="4">輕食早午餐</div>
								<div class="item" data-value="5">會議型蛋糕</div>
								<div class="item" data-value="6">節慶禮盒</div> -->
							</div> 
						</div>
						<input type="text" name="name" placeholder="商品中文名稱"
							th:value="*{name}">
					</div>
				</div>
				<div class="ui error message"></div>
				<!--/*/
			        <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
			          <i class="close icon"></i>
			          <div class="header">验证失败</div>
			          <p th:errors="*{name}">提交信息不符合规则</p>
			        </div>
         			/*/-->
				<!-- 價格 -->
				<div class="required field">
					<div class="ui left labeled input">
						<label class="ui teal basic label">商品價格</label> 
						<input type="text" name="price" placeholder="輸入價格" th:value="*{price}">
					</div>
				</div>

				<!-- <div class="text">商品價格二</div>
				<div class="menu">
					<div class="item" data-value="片">價格/片</div>
					<div class="item" data-value="吋">價格/吋</div>
					<div class="item" data-value="杯">價格/杯</div>
					<div class="item" data-value="盒">價格/盒</div>
					<div class="item" data-value="組">價格/組</div>
					<div class="item" data-value="個">價格/個</div>
				</div> -->

				<!-- 圖片 -->
				<div class="field">
					<div class="ui left labeled input">
						<label class="ui teal basic label">商品圖片</label> 
						<input type="text"	name="picture" th:value="*{picture}" placeholder="圖片位置">
					</div>
				</div>
				<!-- 按鈕 -->
				<div class="ui right aligned container">
					<button type="button" class="ui button"
						onclick="window.history.go(-1)">返回</button>
					<button class="ui teal submit button">提交</button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div th:insert="admin/_fragments :: footer"></div>


	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script>
		$('.toggle.menu').click(function() {
			$('.m-item').toggleClass('m-mobile-hide');
		});
		$('.ui.dropdown').dropdown({
			on : 'hover'
		});
		$('.ui.form').form({
			fields : {
				name : {
					identifier : 'name',
					rules : [ {
						type : 'empty',
						prompt : '請輸入產品名稱'
					} ]
				},
				price : {
					identifier : 'price',
					rules : [ {
						type : 'empty',
						prompt : '請輸入產品價格'
					} ]
				},
				typeId : {
					identifier : 'type.id',
					rules : [ {
						type : 'empty',
						prompt : '請輸入產品分類'
					} ]
				},
				
				
			}
		});
		$('#clear-btn')
	      .on('click', function() {
	        $('.ui.type.dropdown')
	          .dropdown('clear')
	        ;
	      })
	    ;
		function loaddata() {
			$("#table-container").load(
					/*[[@{/admin/products/search}]]*/"/admin/products/search",
					{
						name : $("[name='name']").val(),
						typeId : $("[name='typeId']").val(),
						page : $("[name='page']").val()
					});
		}
	</script>

</body>

</html>