<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表</title>
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body>
    <!-- 導航 -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">後台管理</h2>
                <a href="#" class="m-item item m-mobile-hide">商品</a>
                <a href="#" class="m-item item m-mobile-hide">最新消息</a>

                <div class="right menu">
                    <div class="ui m-item dropdown item m-mobile-hide">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/image/horseca1.jpg" alt="" width="110px">林奕汝
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">登出</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="ui toggle menu black icon button m-right-top m-moblie-show">
                    <i class="sidebar icon"></i>
                </a>
            </div>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="item">商品上傳</a>
                <a href="#" class="teal active item">商品列表</a>
            </div>
        </div>
    </div>
    <br><br><br>


    <!-- 中間 -->
    <div  class="m-container-small m-padded-tb-big">
        <div class="ui container">
          <form action="#" method="post" class="ui segment form">
            <div class="inline fields">
              <div class="field">
                <input type="text" name="productName" placeholder="商品名稱">
              </div>
              <div class="field">
                <div class="ui selection dropdown">
                  <input type="hidden" name="type">
                  <i class="dropdown icon"></i>
                  <div class="default text">分类</div>
                  <div class="menu">
                    <div class="item" data-value="咖啡">咖啡</div>
                    <div class="item" data-value="飲品">飲品</div>
                    <div class="item" data-value="手做蛋糕">手做蛋糕</div>
                    <div class="item" data-value="輕食早午餐">輕食早午餐</div>
                    <div class="item" data-value="會議型蛋糕">會議型蛋糕</div>
                    <div class="item" data-value="節慶禮盒">節慶禮盒</div>
                  </div>
                </div>
              </div>
              <!-- <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" id="recommend" name="recommend">
                  <label for="recommend">推荐</label>
                </div>
              </div> -->
              <div class="field">
                <button class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
              </div>
            </div>
          </form>
    
          <table class="ui celled table">
            <thead>
              <tr>
                <th></th>
                <th>商品名稱</th>
                <th>分類</th>
                <th>更新時間</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>左爺爺的金礦</td>
                <td>手做蛋糕</td>
                
                <td>2020-10-01 09:45</td>
                <td>
                  <a href="#" class="ui mini teal basic button">編輯</a>
                  <a href="#" class="ui mini red basic button">刪除</a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="6">
                  <div class="ui mini pagination menu">
                    <a class=" item">上一頁</a>
                    <a class=" item">下一頁</a>
                  </div>
                  <a href="#" class="ui mini right floated teal basic button">新增</a>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
















    <!-- 底部 -->
    <footer>
        <div class="ui inverted segment">
            <div class="ui center aligned container">
                <div class="ui inverted stackable grid">
                    <div class="three wide column">
                    </div>
                    <div class="two wide column">
                        <img src="../../static/image/logo_footer.jpg" class="ui circular image" alt="" width="120px">
                    </div>



                    <div class="four wide column">
                        <h4 class="ui inverted header">優惠訊息</h4>
                        <div class="ui divider"></div>
                        <div class="ui inverted link list">
                            <a href="#" class="item">中秋節禮盒訂購</a>
                            <a href="#" class="item">最新</a>
                            <a href="#" class="item">最新</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">官方帳號</h4>
                        <div class="ui divider"></div>
                        <div class="ui inverted link list">
                            <p class="m-text-lined"><a
                                    href="https://www.facebook.com/MrTsuo-%E5%B7%A6%E7%88%BA%E7%88%BA%E7%83%98%E7%84%99%E5%9D%8A-102769028157142"
                                    class="ui facebook button"> <i class="facebook icon"></i>Mr.Tsuo 左爺爺烘焙坊</a></p>
                            <p class="m-text-lined"><a href="https://www.instagram.com/mr.tsuo_patisserie/"
                                    class="ui instagram button">
                                    <i class="instagram icon"></i>mr.tsuo_patisserie</a></p>
                            <p class="m-text-lined"><a href="#" class="ui youtube button"><i
                                        class="youtube icon"></i>mr.tsuo_patisserie</a></p>
                        </div>
                    </div>
                    <div class="two wide column"></div>
                </div>
                <div class="ui inverted section divider"></div>
            </div>
            <div class="ui inverted vertical segment">
                <div class="ui center aligned container">

                    <span class="m-text-thin m-opacity-mini">&copy; Copyright 2020 - MR.TSUO COFFEE</span>　│　<a href="#"
                        class="item" class="m-text-thin m-text-spaced m-opacity-mini">夥伴登入</a>

                </div>
            </div>
        </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.toggle.menu').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });
    </script>

</body>

</html>